# Dependencies
node_modules/

# Environment variables (keep secret!)
.env

# Google credentials (will set as env var on Render)
fir-adb3f-ff27cb34e3fd-firebase-account.json

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
